* {
    padding: 0;
	margin: 0;
	font-family: 'poppins',Arial, Verdana, sans-serif;
	font-size: 0;
}
html{
	min-height: 100vh;
	max-width: 97vw;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 20vh;
	background: linear-gradient(90deg, #4a2d4a, #081e28);
	min-height: 100%;
    min-width: 100%;
}
header{
    display: block;
    width: 100%;
    height: max-content;
    background-color: #081e28;
    text-align: center;
}
h1,p,a{
    font-size: 9vmin;
    color: #fff;
}
.menu_open,.menu_bar{
    background-color: orange;
    border-radius: 1vmin;
    width: max-content;
    height: max-content;
    animation:none;
    transition: .6s;
}
.menu_bar{
    background-color: orangered;
    animation:none;
    width: 100vw;
    height: max-content;
	display: inline-flex;
	justify-content: stretch;
	align-items: center;
	flex-flow: column;
	flex-wrap: wrap;
}
.menu_open:hover{
	background-color:rgba(210, 105, 30,0.8);
}
.content{
    width: 80vmin;
    height: 100vmin;
    background-color: #8b328b;
    border-radius: 1.5vmin;
    border: #fff solid .5vmin;
    position: relative;
}
.view{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40%;
    background-color:rgb(162, 0, 255);
    border-radius: 1.5vmin 1.5vmin 0 0;
}
.input,.inputbox,.module{
    position: absolute;
    left: 0;
    top: 5vmin;
    width: 100%;
    height: 20%;
    background-color: rgb(111, 11, 169);
    border: none;
    box-shadow: none;
}
.inputbox{
    left: 10vmin;
    height: 20vmin;
    top: 0vmin;
    font-size: 10vmin;
    color: azure;
    text-align: end;
    width: 60vmin;
    box-sizing: content-box;
    overflow: hidden;
    overflow-x: scroll;
}
.module{
    top: 25vmin;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.5vmin;
    column-gap: .5vmin;

}
.number{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    height: 10vmin;
    width: 7vmin;
    border-radius: .5vmin;
    color: #fff;
    font-size: 7vmin;
    align-items: center;
    justify-content: center;

}
.buttons{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2vmin;
    column-gap: 5vmin;
    background-color: rgb(111, 11, 169);
    width: 75vmin;
    height: 50vmin;
    left: 2.5vmin;
    bottom: 5vmin;
    border-radius: 1.3vmin;
}
.button{
    width: 20vmin;
    height: 20vmin;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2vmin;
    display: inline-flex;
    text-align: center;
    color: #fff;
    font-size: 10vmin;
    align-items: center;
    justify-content: center;
}
::-webkit-scrollbar {
    width: .5vmin;
  }
  
::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #1414845e;
    border-radius: .5vmin;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: .5vmin;
    background: linear-gradient(180deg, #7500fb, #ea00de);
  }

#mymap{
   width: 60vw;
   height: 40vw;
   background-color: #000;
}